DB_URL = jdbc:mysql:(url do banco)
DB_USER = (user do banco)
DB_PASSWORD = (senha do banco)

(NÃO ADICIONAR OS DADOS DO BANCO NESSE ARQUIVO!!
crie um arquivo .env no root do projeto e adicione esse codigo nele)